.root{

}
.left{
    width: 100%;
 height:100vh;
  background-image: url("../../images/Group.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bullet{
    display:flex;
    flex-direction: row;
    align-items: center;

}
.bullet img {
    width: 33px;
height: 33px;
}
.bullet div {
    margin-left: 5px;
}