.root {
  
}
.boldTextContainer{
    padding-bottom: 10%;
}
.boldText {
  font-size: 36px;
  line-height: 150%;
}
.bgImg {
  width: 176px;
  height: 125px;
  background-image: url("../../images/text.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img{
    width: 326px;
height: 346px
}
.mediumTxt{
    color: #9B9B9B;
}
.textContainer{
    padding-right: 10%;
    margin-top: -69px;
}
.change{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10%;
}
.change img{
    cursor: pointer;
}
